.menuButton {
    background-color: rgb(20, 20, 20);
    border: 0;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin: 0;
    height: 100%;
    vertical-align: middle;
}

.menuSection {
    background-color: rgb(50, 50, 50);
}


.editorCanvas {
    height: 100% !important; 
    width: calc(100% - 500px) !important; 
    position: absolute;
    top: 40px;
    left: 250px;
    border: 1px gray solid;
}


.sidebar {
    z-index: 100; 
    position: absolute; 
    width: 250px; 
    background-color: rgb(20, 20, 20); 
    overflow-y: auto;
    border: 1px gray solid;
}

#material_list_bar {
    top: 40px; 
    left: 0;
    height: 37.5%;
}

#model_list_bar {
    top: calc(37.5% + 40px); 
    left: 0;
    height: calc(37.5% - 40px);
}

#material_model_config_bar {
    bottom: 0; 
    left: 0;
    height: 25%;
}

#object_config_bar {
    top: 40px; 
    right: 0; 
    height: calc(100% - 40px); 
}

.sidebarSection {
    background-color: rgb(30, 30, 30);
    border: 0;
    padding: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}

.subSection {
    background-color: rgb(20, 20, 20)
}

.subSection textarea {
    width: 40px;
    height: 16px;
    margin-left: 5px;
}

.headerSection {
    background-color: rgb(50, 50, 50)
}


.assetButton {
    width: 100%;
    height: 20px;
    border: 1px solid darkgrey;
    text-align: center;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
}



textarea {
    margin: 0;
    vertical-align: middle;
    border: 0;
    background-color: gray;
    border-radius: 2px;
    resize: none;
    color: white;
    overflow: hidden;
}

hr {
    border-color: gray;
}



#progress_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, .8);
    border: 1px solid grey;
    border-radius: 2px;
    width: 300px;
    padding: 20px;
}

#progress_popup #progress_text {
    color: white;
    font-family: sans-serif;
}

#progress_popup #progress_bar {
    height: 20px;
    background-color: greenyellow;
}